<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section >
		<h1 class="text-center">
			<span class="label label-primary ">G</span>
			<span class="label label-success ">E</span>
			<span class="label label-info ">E</span>
			<span class="label label-warning ">K</span>
			<span class="label label-danger ">T</span>
			<span class="label label-primary ">I</span>
			<span class="label label-success ">C</span>
		</h1>
		<br>
	</section>
	
	<pre>
		<div class="row">
			<div class="col-md-1" >
				<span> Vue {{geek.view}} fois</span>
			</div>
			<div class="col-md-1" >
				<img src="http://www.gravatar.com/avatar/{{geek.gravatar}}" class="img-thumbnail"/>
			</div>
			<div class="col-md-3">
				<span><strong>Nom :</strong> {{geek.nom}}</span><br>
				<span><strong>Prenom :</strong> {{geek.prenom}}</span><br>
				<span><strong>Mail :</strong> {{geek.mail}}</span>
			</div>
			<div class="col-md-2 text-right">
				<span><strong>Ses interets : </strong></span><br>
				<span> </span><br>
				<span></span>				
			</div>
			<div class="col-md-6">
				<div ng-repeat="interet in geek.interets">
					<span>- {{interet.libelle}}</span>
				</div>
			</div>
		</div>
	</pre>
</body>
</html>